{% extends 'base.html.twig' %}

{% block title %}Année{% endblock %}

{% block body %}
    <h1>Année</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ year.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ year.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_year_index') }}">Revenir</a>

    <a href="{{ path('app_admin_year_edit', {'id': year.id}) }}">Modifer</a>

    {{ include('admin_year/_delete_form.html.twig') }}
{% endblock %}
