{% extends 'base.html.twig' %}

{% block title %}Modèle{% endblock %}

{% block body %}
    <h1>Modèle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ model.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_model_index') }}">Revenir</a>

    <a href="{{ path('app_admin_model_edit', {'id': model.id}) }}">Modifier</a>

    {{ include('admin_model/_delete_form.html.twig') }}
{% endblock %}
