{% extends 'base.html.twig' %}

{% block title %}Liste des énergies{% endblock %}

{% block body %}
    <h1>Liste des énergies</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for energy in energies %}
            <tr>
                <td>{{ energy.id }}</td>
                <td>{{ energy.name }}</td>
                <td>
                    <a href="{{ path('app_admin_energy_show', {'id': energy.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_energy_edit', {'id': energy.id}) }}">Modifer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_energy_new') }}">Créer</a>
{% endblock %}
