{% extends 'base.html.twig' %}

{% block title %}Hour index{% endblock %}

{% block body %}
    <h1>Hour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Day</th>
                <th>Morning</th>
                <th>Afternoon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.id }}</td>
                <td>{{ hour.day }}</td>
                <td>{{ hour.morning }}</td>
                <td>{{ hour.afternoon }}</td>
                <td>
                    <a href="{{ path('app_hour_show', {'id': hour.id}) }}">show</a>
                    <a href="{{ path('app_hour_edit', {'id': hour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hour_new') }}">Create new</a>
{% endblock %}
