{% extends 'base.html.twig' %}

{% block title %}Horaires{% endblock %}

{% block body %}
    <h1>Horaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schedule.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ schedule.Day }}</td>
            </tr>
            <tr>
                <th>Horaires matin</th>
                <td>{{ schedule.MorningTime }}</td>
            </tr>
            <tr>
                <th>Horaire après midi</th>
                <td>{{ schedule.Afternoon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_schedule_index') }}">Retour</a>

    <a href="{{ path('app_admin_schedule_edit', {'id': schedule.id}) }}">Modifier</a>

    {{ include('admin_schedule/_delete_form.html.twig') }}
{% endblock %}
