{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}
    
<div class="container-fluid">
    <div class="row">
        <h1>Liste des voitures</h1>
    </div>
    <div class="row ">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kilométrage</th>
                    <th>Puissance</th>
                    <th>Prix</th>
                    <th>Date de mise en circulation</th>
                    <th>Réference</th>          
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.mileage }}</td>
                    <td>{{ car.power }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.dateCirculation ? car.dateCirculation|date('Y-m-d') : '' }}</td>
                    <td>{{ car.reference}}</td>
                    <td>
                        <a href="{{ path('app_admin_car_show', {'id': car.id}) }}" class="btn btn-primary" role="button">Voir</a>
                    
                        <a href="{{ path('app_admin_car_edit', {'id': car.id}) }}" class="btn btn-info" role="button">Modifier</a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="8">Aucune données</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="row">
            <div class="col">
            <a href="{{ path('app_admin_car_new') }}" class="btn btn-success  btn-lg" role="button">Créer</a>
        </div>
        </div>
    </div>
</div>               
    
{% endblock %}
