{% extends "base.html.twig" %}


{% block title %}VParrot
{% endblock %}

{% block body %}
<div class="container">
    <!-- Content -->
    <!-- Description -->
  <div class="row text-center mt-4">
    <h1>Nos occasions</h1> 
    <p>Plus de 2000 voitures en stocks, révisées et garanties.
        Choisissez parmi tous nos modèles.
    </p>  
  </div>
    <!-- End Description -->

    <!-- Occasions list -->
  <div class="row mt-4">
      
        <!-- Title -->
      <div class="row d-flex row text-center mb-5">
   

      <!-- Cards -->
      
      {% for car in cars %}
     
        <!-- voiture -->
                <div class="col-3 card mx-2 mb-5">
                    <img src="{{ asset('uploads/' ~ car.imageName) }}" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text text-uppercase "> {{car.brand}}</p>
                        <p class="card-text">{{car.model}}</p>
                        <p class="card-text">Année :  {{car.year}}</p>
                        <p class="card-text">Kilométrage :  {{car.mileage}}</p>
                        <p class="card-text fw-bold">Prix :  {{car.price}} €</p>
                        <a href="{{ path('app_detail_occasion_show', {'id': car.id}) }}" class="btn btn-primary d-flex justify-content-center">Détail</a>
                    </div>
                </div>
                
      {% endfor %}




    <div class="container-sm ">  
        <div class="row ">
            <div class="col-sm col-md-6 col-lg-4">
                
            </div>
        
            
      
        </div>  
    </div>
       


      <!-- End Cards -->



    


</section>
        {% endblock %}    
  